<p>There are <%= @events %> events over x days.</p>
<p>There are <%= @rounds %> rounds over x days.</p>
<p>There are <%= @orphan %> round orphans.</p>
<p>There are <%= @orphane %> round orphans on events.</p>
Here are members without rounds

<% @members.each do |m| %>

<p><%= m.inspect%></p>

<% end%>
  
