<legend>Articles
</legend>
<div class="index-list">
<table>
  <tr class="list-header">
      <th>Title</th>
      <th>Type</th>
      <th>Author</th>
      <th>Published</th>
      <td>Content</td>
      <th>Actions</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
      <td><%= article.title %></td>
      <td><%= article.type_article %></td>
      <td><%= article.user.name %></td>
      <td><%= article.published_at.to_date %></td>
      <td><%= markdown(truncate_text(article.body))%>
      <td>
      <%= link_to 'Show', article %>
      <% if false%>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @articles %>

<div>
