<%
pd = %w{10 9 8 7 6 5 4 3 2 1 0 \s -1 -2 -3 -4 -5 -6 -7 -8 -9 -10}
pd[11] = ""
%>
<%= content_tag :h4,'Ensure team/member selections are correct before continuing. Use browser back button to make corrections'%>
<%= form_for  @event, :html => {"data-behavior" => "validate" } do |f| %> 

<% keys = @teams.keys.sort%>
<fieldset class="form-list">
	<legend>New Event</legend>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% else %>
    <div id="error_explanation" style="display:none">
      <h2>Validation errors prohibited this event from being saved:</h2>
      <div id="validation_errors">
        hi
      </div>
    </div>
  <% end %>
  <table class="label-data">
    <tr class="field">
      <th><%= f.label :course_id %>:</th>
      <td><%= f.hidden_field :course_id %><%= Course.find(@event.course_id).name  %></td>
      <th><%= f.label :date %>:</th>
      <td><%= f.hidden_field :date %><%=@event.date%></td>
      <th><%= f.label :places %>:</th>
      <td><%= f.hidden_field :places %><%= @event.places%></td>
      <th><%= f.label :remarks %>:</th>
      <td><%= f.hidden_field :remarks %><%= @event.remarks%></td>
    </tr>
    <tr class="field">
      <th>Members:</th>
      <td>
      <%= @pots[:members]%>
      <%= f.hidden_field(:attendees, :value => @pots[:members] )%>
      </td>
      <th>Teams:</th><td><%= keys.length%><%= f.hidden_field(:teams, :value => keys.length )%></td>
      <th>Skins Pot:</th><td><%= @pots[:skins_pot] %><%= hidden_field_tag("team[skins_pot]",@pots[:skins_pot] )%></td>
      <th>Team Pot/Splits:</th><td><%= @pots[:team_pot] %><%= hidden_field_tag("team[team_pot]",@pots[:team_pot].to_json )%>
        <% %>
      </td>
    </tr>
  </table>
  <div class="action">
    <span class="annotate">Change Tee if required. Use pull down button in Plus/Minus area to set points.
       Hole Scores abbreviations are: B=Birdie P=Par E=Eagle A=Albatross O=bOgey D=Double Bogey, .=None.
       Each click on a hole checkbox will rotate score. Initially from . to B, then EADOP. 
       Radio buttons in left column select direction of rotation (&uarr;Up, &darr;Down). Click on hole score abbreviation to reset hole.</span>
  </div>
</fieldset>


<% keys.each do |key| %>
<%= hidden_field_tag("team[place][#{key}]","")%>
<%= hidden_field_tag("team[score][#{key}]","")%>
<%= hidden_field_tag("team[share][#{key}]","")%>
<%= hidden_field_tag("team[size][#{key}]",@teams[key].length)%>
  <% members = Member.where(:id => @teams[key])%>
  <fieldset class="index-list">
    <legend>Team <%= key %> : <span class="annotate" id="team_scores_<%= key %>">Incomplete</span></legend>
    
  <table>
    <tr class="list-header"><th>Name/Tee</th><th>Plus/Minus</th><th colspan="2" class="center">Gross - Points Pulled - Net</th><th>Skins/Hole Score</th></tr>
    <% members.each do |member| %>
    
    <tr>
      <td class="col-5"><%= member.first_name%> <%= member.last_name %> <br />
        <%= select_tag "add[#{member.id}][tee]", memb_tee_options(member,params[:event][:course_id]), "data-behavior" => "select_tee"%><br />
        <%= hidden_field_tag "add[#{member.id}][team_quality]",0 %>
        <%= hidden_field_tag "add[#{member.id}][skin_quality]",0 %>
        <% if !@current_group.other_game.blank? %>
        Other$<%= text_field_tag "add[#{member.id}][other_quality]","",:size => 3, :class => "disabled" %>
        <% end%>
        <%= hidden_field_tag "add[#{member.id}][team]",key, :class =>"teams"%>
        <%= hidden_field_tag "add[#{member.id}][mid]",member.id, :class =>"members" %>
        <span class="labelbr">Quota:</span> <%= text_field_tag "add[#{member.id}][quota]",@quota,:size => 2, :disabled => true, :class => "disabled" %>
        
      </td>
      <td>
        
        <%= select_tag "add[#{member.id}][pm]", options_for_select(pd,""), "data-behavior" => "set_plus_minus"%><br />
        
      </td>
      <td class="show">
        <span class="labelbr">+/-:</span> <%= text_field_tag "add[#{member.id}][plus_minus]","",:size => 2, :disabled => true, :class => "disabled" %><br />
        <span class="labelbr">Gross:</span> <%= text_field_tag "add[#{member.id}][gross]","",:size => 2, :disabled => true, :class => "disabled" %><br />
      </td>
      <td class="show">
        <span class="labelbr">+/-:</span> <%= text_field_tag "add[#{member.id}][netpm]","",:size => 2, :disabled => true, :class => "disabled" %><br />
        <span class="labelbr">Net:</span> <%= text_field_tag "add[#{member.id}][net]","",:size => 2, :disabled => true, :class => "disabled" %>
      </td>
      <td>
        <div class="lbox-boxg">
          <div class="lbox">
            <%= radio_button_tag "add[#{member.id}]_up","1",true %>
          </div>
          
          <% 1.upto(18) do |i| %>
            <div  class="lbox"><%= i %></div>
          <% end %>
          
        </div>
        <div style="clear:both" ></div>
        <div class="lbox-box" >
          <div class="lbox" style="position:relative;">
            <span style="position:absolute;top:0px;left:4px;z-index:1">&uarr;</span>
            <span style="position:absolute;top:0px;left:4px;z-index:2">&darr;</span>
            
          </div>
          <% 1.upto(18) do |i| %>
          <div class="lbox">
            <%= hidden_field_tag "add[#{member.id}][hole][#{i}]",".", :id => "" %>
          <%= check_box_tag "add[#{member.id}][hole][#{i}]",".",false, :id => "add_#{member.id}_#{i}", "data-behavior" => "set_hole",:class => "hole-#{i}" %>
          </div>
          <% end %>
        </div>
        <div style="clear:both" ></div>
        
        <div class="lbox-box">
          <div class="lbox">
            <%= radio_button_tag "add[#{member.id}]_up","0",false %>
          </div>
          
          <% 1.upto(18) do |i| %>
            <div id="add_<%= member.id%>_<%= i%>_s" data-behavior="clear_hole" class="lbox">.</div>
          <% end %>
        </div>
        
      </td>
    </tr>
    <% end %>
  </table>
  </fieldset>
<% end%>
<div class="action">
  <%= f.submit( "Create", :disabled => true, :id => "create_button" )%> <%= link_to 'Events (cancel)', events_path, :class => "breadcrumb" %>
</div>

<% end%>

