<%
links = ""
#if can_add_event?
  cond = "group_id = "+@current_group.id.to_s
  links =  '<strong>Select Course to Add New Event:</strong> ' + select("course", "course_id", Course.find(:all, :conditions => cond).collect { |c| [c.name, c.id]}, { :prompt => 'Select Course'},{ :onchange => "selectHandler(this.id,'"+new_event_path+"?cid=')" })
#end
%>

<fieldset class="index-list">
  <legend>Events
  	<span class="annotate">
  	  <%if can? :create , Event%>
        <%=raw links %> 
        <%= link_to 'New Member', new_member_path, :class => 'add-button' %>
      <% end -%>
  	</span>
  </legend>

  <table>
    <tr class="list-header">
      <th>Date</th>
      <th>Course</th>
      <th>Remarks</th>
      <th>Memb</th>
      <th>Teams</th>
      <th>Places</th>
      <%if can? :create , Event%>
        <th>Actions</th>
      <% end -%>
  	  
    </tr>

  <% 
  altswitch = false
  
  @events.each do |event| 
    altswitch = !altswitch
    trclass =  altswitch ? 'class="alt"' : ""
    %>
    <tr <%=raw trclass%>>
        <td><%= link_to event.date, event, :class => "show-button" %></td>
        <td><%= event.course.name %></td>
        <td class="col-10"><%=raw truncate_text(event.remarks) %></td>
        <td><%= event.attendees %></td>
        
        <td><%= event.teams %></td>
        <td><%= event.places %></td>
        <%if can? :create , Event%>
        
        <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete, :class => "destroy-button" if (can? :destroy, event) && is_my_group?(event.group_id)  %></td>
        <% end -%>
        
        
    </tr>
  <% end %>
  </table>
  <%= will_paginate @events  if logged_in? %>
  
</fieldset>

