
<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="label-data f-left">
  <tr class="field">
    <th><%= f.label :email %></th>
     <%if @member.user.nil?%>
       <td><%= f.text_field :email %><td>
     <% else%>
       <td><%= f.text_field :email, :value => @member.user.email %><td>
     <%end%>
     
  </tr>
  <tr class="field">
    <th><%=  "Name First/Last" %></th>
    <td><%= f.text_field :first_name, :size => 12 %>/<%= f.text_field :last_name, :size => 12 %></td>
  </tr>
  <tr class="field">
    <th><%= f.label :phone %></th>
    <td><%= f.text_field :phone %></td>
  </tr>
  <tr class="field">
    <th><%= f.label :cell %></th>
    <td><%= f.text_field :cell %></td>
  </tr>
  <tr class="field">
    <th><%= f.label :address %></th>
    <td><%= f.text_area :address, :rows => 3, :cols => 28 %></td>
  </tr>
  <tr class="field">
    <th><%= f.label :list_contact %></th>
    <td><%= f.check_box :list_contact %></td>
  </tr>
  </table>
   <table class="label-data f-left">
   
  <%if can? :invite , @member%>
  <tr class="field">
    <th><%= f.label :limited %></th>
    <td><%= f.check_box :limited %></td>
  </tr>
  
  <tr class="field">
     <th><%= f.label :status %></th> 
     <td><%=raw status_select(f) %></td> 
  </tr>
  <tr class="field">
     <th><%= f.label :tee %></th> 
     <td><%= f.select :tee, tee_options %></td> 
  </tr>
  <% if !@member.last_played.nil?%>
  <tr class="field">
     <th><%= f.label :last_played %></th> 
     <td><%= f.date_select :last_played %></td> 
  </tr>
  <% end %>
  <tr class="field">
     <th><%= f.label :quota %></th> 
     <td><%= f.text_field :quota %></td> 
  </tr>
  <tr class="field">
     <th><%= f.label :initial_quota %></th> 
     <td><%= f.text_field :initial_quota %></td> 
  </tr>
  <%end%>
  </table>
  <div class="f-clear"></div>
  <% if params[:action] == "new"%>
    <fieldset>
      <legend>Initial Rounds</legend>
      <span class="annotate">
        You may optionally enter round history for members who are transitioning to GolfGaggle.com. Dates and quotas are not significant, just in the ballpark.<br />
        Points Pulled and Tee are minimum requirements. Points Pulled will be basis of computing quota and dates the sequence. 
        
        </span>
      <%
        cd = Date.today
      %>
      <%= f.fields_for :rounds do |r| %>
      <% cd -= 1%>
      <div>
        <strong><%= r.label :date %></strong> 
        <span><%= r.text_field :date, :size => 10, :value => cd  %></span> 
        <strong><%= r.label :tee %></strong> 
        <span><%= r.select :tee_id,  group_tees%></span>
        <strong><%= r.label :quota %></strong> 
        <span><%= r.text_field :quota, :size => 3  %></span> 
        <strong><%= r.label :points_pulled %></strong> 
        <span><%= r.text_field :points_pulled, :size => 3  %></span> 
      </div>
      
      <% end%>
      
    </fieldset>
  
  <% end%>
  <div class="action">
    <%= f.submit %>
    <%= params.inspect%>
  </div>
  
<% end %>
