<fieldset>
  <legend>Members 
      <%= link_to 'New Member', new_member_path, :class => "new-button" if can? :create, Member %>
  </legend>

  <table class="g-table">
    <tr class="hdr">
      <th>Name</th>
      <th>eMail</th>
      <th>Phone</th>
      <th>Cell</th>
      <th>Status</th>
    </tr>
    <% altswitch = false %>

  <% @members.each do |member| %>
  <% altswitch = !altswitch %>
  <% altclass = altswitch ? "" : "class=\"alt\"".html_safe %>
    <tr <%= altclass %>>
      <td><%= link_to member.name, member, :class => "link-go-button" %></td>
      <td><%= member.email %></td>
      <td><%= member.phone %></td>
      <td><%= member.cell %></td>
      <td><%= member.status %></td>
    </tr>
  <% end %>
  </table>

</fieldset>

