<fieldset>
<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @member.group_id %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Cell:</b>
  <%= @member.cell %>
</p>

<p>
  <b>Address:</b>
  <%= @member.address %>
</p>

<p>
  <b>List contact:</b>
  <%= @member.list_contact %>
</p>

<p>
  <b>Status:</b>
  <%= @member.status %>
</p>


<hr />

<%= link_to 'Edit', edit_member_path(@member), :class => "edit-button"  if (can? :update, @member ) && is_my_group?(@member.group_id)%>
<%= link_to 'Destroy', @member, confirm: 'Are you sure?', method: :delete, :class => "destroy-button" if (can? :destroy, @member) && is_my_group?(@member.group_id)  %>
<% if (can? :invite, Member) && (@member.email != "") && @member.user.nil?%>
    <%= link_to 'Invite', invite_member_path(@member), :class => "link-go-button" %>

<% end %>
<%= link_to 'Members', members_path, :class => "breadcrumb" %>

</fieldset>